* {
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans", sans-serif;
    outline: none;
}

/* 10px = 1rem */
html {
    font-size: 62.5%;
}

body {
    background-color: #f0f8fd;
}

.feeds-nav{
    position: fixed;
    width: 100%;
    height: 6.5rem;
    background-color: #fff;
    display: flex;
    justify-content: center;
    box-shadow:  0 0 .7rem rgba(0, 0, 0, .3);
}

.icons{
    display: flex;
    align-items: center;
}

.icons a {
    text-decoration: none;
    margin-right: 7rem;
    font-size: 2.5rem;
    color: #9e9a9a;
}

.icons a.active{
    color: #1aa1f5;
}

.search-bar{
    display: flex;
    align-items: center;
    position: relative;
}

.search-bar-input{
    width: 35rem;
    height: 3rem;
    border: .1rem solid #d6e1e9;
    border-radius: 3rem;
    background-color: #d6e1e9;
    padding-left: 5rem;
    transition: all .3s;
}

.search-bar-input:focus{
    background-color: #fff;
    border-color: #1aa1f5;
}

.search-bar i {
    position: absolute;
    font-size: 1.6rem;
    left: 1.5rem;
    color: #9e9a9a;
}

.user {
    margin-left: 3rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.user-link{
    margin: 0 1rem;
    text-decoration: none;
    font-size: 1.8rem;
    color: #444;
}

.user i{
    color: #444;
    font-size: 1.6rem;
}


.sidebar-wrapper{
    position: fixed;
    background-color: rgba(0, 0, 0, .3);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
}

.sidebar-wrapper-display {
    opacity: 1;
    visibility: visible;
}

.sidebar {
    position: fixed;
    top: 0;
    right: -30rem;
    width: 30rem;
    height: 100vh;
    background-color: #fff;
    padding: 2.5rem;
    box-sizing: border-box;
    box-shadow: -.1rem 0 .5rem rgba(0, 0, 0, .3);
    transition: all .5s;
}

.sidebar-display {
    right: 0;
}

.sidebar-header {
    display: flex;
    align-items: center;
    padding-bottom: 1.5rem;
    border-bottom: .1rem solid #eee;
}

.sidebar-header h2 {
    font-size: 2rem;
}

.sidebar-header i {
    margin-left: auto;
    font-size: 2.5rem;
    color: #1aa1f5;
    cursor: pointer;
}

.sidebar-user {
    display: flex;
    align-items: center;
    padding: 1.5rem;
}

.sidebar-user-img {
    width: 4rem;
    height: 4rem;
}

.sidebar-user-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.sidebar-user span {
    margin-left: auto;
    width: 3.5rem;
    height: 3.5rem;
    font-size: 5rem;
    border: .1rem solid #1aa1f5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1aa1f5;
}

.sidebar-user-info {
    padding: 1.5rem 0;
    font-size: 1.8rem;
}

.sidebar-user-info h4 {
    margin-bottom: .5rem;
}

.following {
    display: flex;
    padding: 1.5rem 0;
}

.following-paragraph {
    font-size: 1.8rem;
}

.following-paragraph:first-child {
    margin-right: 2.5rem;
}

.following-paragraph span {
    font-weight: bold;
}

.sidebar-list-1 {
    border-bottom: .1rem solid #eee;
}

.sidebar-list-1 ul {
    list-style: none;
    padding: 1.5rem 0;
}

.sidebar-list-1 li {
    margin-bottom: 2.5rem;
}

.sidebar-list-1 a {
    text-decoration: none;
    font-size: 1.6rem;
    color: #868383;
}

.sidebar-list-1 i {
    margin-right: 1rem;
}

.sidebar-list-2 ul {
    list-style: none;
    padding: 3rem 0;
}

.sidebar-list-2 li {
    margin-bottom: 2.5rem;
}

.sidebar-list-2 a {
    text-decoration: none;
    font-size: 1.6rem;
    color: #868383;
}