<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700&display=swap" rel="stylesheet" />
  <link rel="stylesheet"  th:href="@{/css/login.css}"/>
  <title>Forget Password</title>
</head>
<body>
<section class="login-page">
  <div class="login">
    <div class="login-content">
      <h2>Enter your email , we'll send you a new password.</h2>
      <div th:if="${usernotexist}">
        <p>Invalid email.Please check your email</p></div>

      <form th:object="${forgotPasswordDTO}" th:action="@{/forgotpassword}" method="post" class="login-form">
        <input type="email" name="email" placeholder="Email" class="login-user-info" th:field="*{email}">
        <div th:if="${#fields.hasErrors('email')}" style="margin-bottom: 25px" class="text-danger">
          <ul>
            <li th:each="err : ${#fields.errors('email')}" th:text="${err}" />
          </ul>
        </div>
        <div>
          <button type="submit" class="login-form-btn">Send Password</button>
        </div>
      </form>
    </div>
  </div>
</section>

</body>
</html>