<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gibi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/navbar.css}"/>
    <link rel="stylesheet" th:href="@{/css/feeds.css}"/>
</head>
<body>
<nav th:insert="navbar.html :: naviga" ></nav>
<div th:insert="navbar.html :: sideiga"></div>
<section th:fragment="feediga" class="feeds-page">

    <!-- Feeds Content -->
    <div class="feeds-content">
        <div class="feeds-header">
            <div class="header-top">
                <div class="posts">
                    <div th:object="${gibi}" class="post">
                        <div class="post-content">
                            <div class="post-user-info">
                                <h4 th:text="|@${gibi.createdBy.username}|"></h4>
                                <h4 th:text="'#'+ ${gibi.topic.topicName}"></h4>
                                <span th:text="${#temporals.format(gibi.createDate,'dd-MM-yyyy HH:mm')}"></span>
                            </div>
                            <p th:text="${gibi.onComment}" class="post-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis aliquid est, mollitia commodi aut in
                                eaque quis cumque voluptatibus voluptate illo odio fugiat, neque suscipit nemo error possimus! Quam,
                                suscipit.
                            </p>
                            <a id="URL" target="_blank" rel="noopener noreferrer" th:href="@{${gibi.URL}}" th:text="'URL:'+${gibi.URL}" class="post-text"></a>
                            <section class="previewsection">
                                <div class="container">
                                    <div class="box">
                                        <img id="myimage" style="max-width: 200px" src="">
                                        <div class="is-clipped">
                                            <div id="mytitle" class="has-text-weight-bold"></div>
                                            <div id="mydescription" style="width: max-content" class="mt-2"></div>
                                            <div id="myurl" class="mt-2 is-size-7"></div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <br><br>
                            <a th:if="${editable}" th:href="@{/gibis/{id}/updategibi(id=${gibi.id})}" class="post-icons">
                                <i th:if="${editable}" class="fas fa-edit"></i>
                            </a>
                            <a th:if="${editable}" th:href="@{/gibis/{id}/delete(id=${gibi.id})}" class="post-icons">
                                <i th:if="${editable}" class="fas fa-trash"></i>
                            </a>
                            <a th:href="@{/gibis/{id}/bookmark(id=${gibi.id})}" class="post-icons">
                                <i class="fas fa-bookmark"></i>
                            </a>
                            <br><br>
                            <h4>Find comments below:</h4>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="posts">
            <div th:each="comment: ${comments}" class="post">
                <div class="post-content">
                    <div class="post-user-info">
                        <h4 th:text="|@${comment.createdBy.username}|"></h4>
                        <span th:text="${#temporals.format(comment.createDate,'dd-MM-yyyy HH:mm')}"></span>
                    </div>
                    <p th:text="${comment.comment}" class="post-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis aliquid est, mollitia commodi aut in
                        eaque quis cumque voluptatibus voluptate illo odio fugiat, neque suscipit nemo error possimus! Quam,
                        suscipit.
                    </p>
                    <!--<a th:href="@{${gibidto.URL}}" th:text="'URL:'+${gibidto.URL}" class="post-text"></a>
                    <br><br>
                    <a th:href="@{/gibis/{id}(id=${gibidto.id})}" class="post-icons">
                        <i class="far fa-comment"></i>
                    </a>-->
                </div>
            </div>
        </div>

    </div>

    <button type="button" class="post-btn">
        +<i class="fas fa-feather-alt"></i> Comment
    </button>


    <form th:object="${postCommentDTO}" th:action="@{/gibis/{id}(id=${gibi.id})}" method="post" class="modal-wrapper">
        <div class="modal">
            <div class="modal-header">
                <i class="fas fa-times"></i>
                <button type="submit">Comment</button>
            </div>
            <div class="modal-body">
                <input th:field="*{comment}" type="text" placeholder="Your Comment" class="modal-input">
            </div>
        </div>
    </form>

</section>

<script th:src="@{/js/sidebar.js}"></script>
<script th:src="@{/js/postmodal.js}"></script>
<script th:src="@{/js/linkpreview.js}"></script>
</body>
</html>