<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Timeline</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/navbar.css}"/>
    <link rel="stylesheet" th:href="@{/css/feeds.css}"/>
</head>
<body>
<nav th:insert="navbar.html :: naviga" ></nav>
<div th:insert="navbar.html :: sideiga"></div>
<section th:insert="feeds.html :: feediga">
</section>
<div th:if="${pagecount > 1}" style="position: fixed;
    bottom: 2rem;
    right: 68%;
    width: 12rem;
    padding: 1.5rem 2rem;
    color: #fff;
    border-radius: 3rem;
    cursor: pointer;
    box-shadow: 0 0.3rem 1rem rgb(0 0 0 / 30%);
    transition: background-color .3s;">
    <div class="row col-sm-10" style="display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: black;">
        <div class="col-sm-1">
            <span th:each="i: ${#numbers.sequence(1, pagecount)}">
      <a th:if="${currentpage != i}" th:href="@{'/?page=' + ${i-1}}">[[${i}]]</a>
      <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
            </span>
        </div>
        <div class="col-sm-1">
            <a th:if="${currentpage < pagecount}" th:href="@{'/?page=' + ${currentpage + 1}}">Next</a>
            <span th:unless="${currentpage < pagecount}">Next</span>
        </div>

        <div class="col-sm-1">
            <a th:if="${currentpage < pagecount}" th:href="@{'/?page=' + ${pagecount-1}}">Last</a>
            <span th:unless="${currentpage < pagecount}">Last</span>
        </div>
    </div>
</div>

<script th:src="@{/js/sidebar.js}"></script>
<script th:src="@{/js/postmodal.js}"></script>
</body>
</html>