<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Stats</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" th:href="@{/css/navbar.css}"/>
  <link rel="stylesheet" th:href="@{/css/feeds.css}"/>
</head>
<body>
<nav th:insert="navbar.html :: naviga" ></nav>
<div th:insert="navbar.html :: sideiga"></div>

<section class="feeds-page">
  <div class="feeds-content">
    <div class="feeds-header">
      <div class="header-top">
        <div class="post-content">
          <h2>These are your stats:</h2>
        </div>
      </div>
    </div>

    <div class="posts">
      <div class="post">
        <div class="post-content">
          <div class="post-user-info">
            <h4 th:text="'Friend Count:'+${friendcount}"></h4>
            <h4 th:text="'Gibi Count:'+ ${gibis}"></h4>
            <h4 th:text="'Comment Count:'+ ${comments}"></h4>
            <h4 th:text="'Followed Topic Count:'+ ${topics}"></h4>
          </div>

        </div>
      </div>
    </div>
  </div>

</section>
<script th:src="@{/js/sidebar.js}"></script>
<script th:src="@{/js/postmodal.js}"></script>

</body>
</html>